<?xml version="1.0"?>
<launch>
    <rosparam file="$(find singlearm_control)/config/computedtorque_control_clik.yaml" command="load"/>
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find singlearm_description)/urdf/singlearm.xacro'"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/singlearm" args="joint_state_controller computedtorque_control_clik"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="/singlearm"/>

</launch>